@model System.Data.DataSet
@{
    ViewBag.Title = "ActualizarFormaPago";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts {
    <script src="~/JS/jsFormaPago.js"></script>
}

<h2 class="table-title">Registro de Nuevas Formas de Pago</h2>

<form class="contenedor form-principal" action="/FormaPago/Actualizar" method="post">
    <div>
        <div class="formulario card border-primary">
            <div class="card-header formulario-header">
                <label class="p-2">Nueva Forma de Pago</label>
                <button onclick="location.href = '@Url.Action("FormaPago", "FormaPago")'; return false;" class="btn btn-success">Regresar</button>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Forma de Pago</label>
                    <input type="number" value="@Model.Tables[0].Rows[0]["idFormaPago"].ToString()" required class="form-control mb-2" id="idFormaPago" name="idFormaPago" />
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Forma de Pago</label>
                    <input type="text" value="@Model.Tables[0].Rows[0]["descripcion"].ToString()" required class="form-control mb-2" id="descripcion" name="descripcion" />
                </div>
            </div>

            <div class="contenedor-btn">
                <button type="submit" class="btn btn-primary btn-guardar" onclick="validarGuardadoDeCampos(event);">Guardar</button>
            </div>

        </div>
    </div>

</form>



