@model System.Data.DataSet

@{
    ViewBag.Title = "ActualizarPuestoPremiacion";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts {
    <script src="~/JS/jsPuestoPremiacion.js"></script>
}

<h2 class="contenedor table-title">Actualización de puestos</h2>

<form class="contenedor form-principal" action="/PuestoPremiacion/Actualizar" method="post">
    <div>
        <div class="formulario card border-primary">
            <div class="card-header formulario-header">
                <label class="p-2">Actualizar Forma de Pago</label>
                <button onclick="location.href = '@Url.Action("PuestoPremiacion", "PuestoPremiacion")'; return false;" class="btn btn-success">Regresar</button>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">ID Puesto de premiación</label>
                    <input type="text" readonly value="@Model.Tables[0].Rows[0]["idPuesto"].ToString()" required class="form-control mb-2 input-readonly" id="idPuesto" name="idPuesto" />
                </div>

                <div class="form-group">
                    <label class="p-2">Descripción de puesto</label>
                    <input type="text" value="@Model.Tables[0].Rows[0]["descripcion"].ToString()" required class="form-control mb-2" id="descripcion" name="descripcion" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary" onclick="validarGuardadoDeCampos(event);">Guardar</button>

        </div>
    </div>
</form>





