@model app_OlimpiadasChapinas.Models.csDataSets

@{
    ViewBag.Title = "newPago";
    ViewBag.BodyClass = "vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/JS/jsPago.js"></script>
}

<h2 class="table-title">Registro de Nuevos Pagos</h2>

<form class="contenedor form-principal" action="/Pago/Guardar" method="post">
    <div>
        <div class="formulario card border-primary">
            <div class="card-header formulario-header">
                <label class="p-2">Nuevo Pago</label>
                <button onclick="location.href = '@Url.Action("Pago", "Pago")'; return false;" class="btn btn-success">Regresar</button>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">ID Forma de Pago</label>
                    <select required class="form-control mb-2 lista-opciones" id="idFormaPago" name="idFormaPago" >
                        <option disabled selected>----Seleccionar una opción----</option>
                        @if(Model.FormaPago.Tables.Count > 0)
                        {
                            if (Model.FormaPago.Tables[0].Rows.Count > 0)
                            {
                                for (int x = 0; x < Model.FormaPago.Tables[0].Rows.Count; x++)
                                {
                                    <option>@Model.FormaPago.Tables[0].Rows[x]["idFormaPago"].ToString() - @Model.FormaPago.Tables[0].Rows[x]["descripcion"].ToString()</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Monto del pago</label>
                    <input type="number" required class="form-control mb-2" id="montoPago" name="montoPago" min="1" max="1000"/>
                </div>
            </div>

            <div class="col" align="center">
                <div class="form-group">
                    <label class="p-2">Observaciones</label>
                    <input type="text" required class="form-control mb-2" id="observaciones" name="observaciones" />
                </div>
            </div>

            <div class="contenedor-btn">
                <button type="submit" class="btn btn-primary btn-guardar" onclick="validarGuardadoDeCampos(event);">Guardar</button>
            </div>

        </div>
    </div>
</form>

